.center-content-hori {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh; /* Full screen height */
  text-align: center;
  flex-direction: column;
}
.center-content-vert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  text-align: center;
  flex-direction: column;
}
