<div class="center-content">
  <div *ngIf="!isLoaded; else Loaded">
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #Loaded>
    <div>
      <div *ngIf="quizFound; else notFound">
        <h1 style="font-weight: 300">
          <span style="font-weight: 600; color: hsl(229, 96%, 71%)">{{
            quizData?.quiz?.quiz_name
          }}</span>
          Submitted by
          <span style="font-weight: 600">{{
            quizData?.quiz?.submitted_by
          }}</span>
          at
          {{ quizData?.quiz?.submitted_at | date : "medium" }}
        </h1>

        <div style="font-size: larger" *ngIf="!quizComplete; else Complete">
          <h2 style="font-weight: 300">
            {{ currentQuestion.question }}
          </h2>
          <div style="margin: 50px; padding: 1px">
            <mat-radio-group
              [(ngModel)]="selectedOption"
              aria-label="Select an option"
              style="display: flex; flex-direction: column"
            >
              <mat-radio-button value="{{ currentQuestion.option1 }}">{{
                currentQuestion.option1
              }}</mat-radio-button>
              <mat-radio-button value="{{ currentQuestion.option2 }}">{{
                currentQuestion.option2
              }}</mat-radio-button>
              <mat-radio-button value="{{ currentQuestion.option3 }}">{{
                currentQuestion.option3
              }}</mat-radio-button>
              <mat-radio-button value="{{ currentQuestion.option4 }}">{{
                currentQuestion.option4
              }}</mat-radio-button>
            </mat-radio-group>
          </div>
          <button mat-fab extended (click)="nextQuestion()">
            Next
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
        <ng-template #Complete>
          You got {{ correctAnswers }} answers out of {{ noOfQuestions }}
        </ng-template>
      </div>

      <ng-template #notFound>
        <h2>404 Error. Quiz not found.</h2>
        <button mat-fab extended routerLink="/">
          <mat-icon>arrow_back</mat-icon>
          Go back
        </button>
      </ng-template>
    </div>
  </ng-template>
</div>
